* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


.flash {
  color: green;
}

.alert {
  color:#262626;
  background:#FFEBE8;
  border:2px solid #990000;
  padding:12px; font-weight:850;
  width: 40%;
}

.error {
  padding: 0;
  margin: 0;
  background-color: #990000;
  color: white;
  width: 40%;

}
